/* Reduce the outer container size */
.hamburger {
  z-index: 1051;
  width: 24px; /* default is 40px, reduce as needed */
  height: 24px; /* adjust height as per look */
  display: flex;
  padding: 0;
}

/* Reduce the box that contains the lines */
.hamburger-box {
  width: 24px;
  height: 24px;
}

/* Reduce the inner lines */
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 24px;
  height: 3px; /* thinner lines */
}

.navbar-brand-name {
  color: var(--secondary-colors, var(--secondary-colors, #241f21));
  text-decoration: none;
  font-size: 28px;
  font-weight: 600;
}

.nav-item {
  display: flex;
  justify-content: center;
}

.navbar-section {
  background-color: var(--territory-colors, #07de99);
}
@media (max-width: 991.98px) {
  .navbar-section .navbar-menu-div a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.navbar-section .nav-link {
  position: relative;
  color: var(--secondary-colors, var(--secondary-colors, #241f21));
  font-weight: 600;
  text-decoration: none;
  padding-bottom: 5px;
}
.navbar-section .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: var(--secondary-colors, var(--secondary-colors, #241f21));
  transition: width 0.4s ease;
}
.navbar-section .nav-link:hover::after {
  width: 100%;
  color: var(--secondary-colors, var(--secondary-colors, #241f21));
}
@media (min-width: 991.98px) {
  .navbar-section .nav-link.active {
    color: var(--secondary-colors, var(--secondary-colors, #241f21));
    font-weight: 800;
  }
  .navbar-section .nav-link.active::after {
    width: 100%;
    background-color: var(--secondary-colors, var(--secondary-colors, #241f21));
  }
}
.navbar-section .login-btn {
  font-weight: 500;
  border: 2px solid var(--territory-colors, #07de99);
  border-radius: 0px;
}
.navbar-section .login-btn:hover {
  background-color: var(--secondary-colors, var(--secondary-colors, #241f21));
  color: var(--territory-colors, #07de99);
}
.navbar-section .get-started-btn {
  border: 2px solid var(--secondary-colors, var(--secondary-colors, #241f21));
  border-radius: 0px;
  font-weight: 700;
}
.navbar-section .get-started-btn:hover {
  color: var(--territory-colors, #07de99);
  background-color: var(--secondary-colors, var(--secondary-colors, #241f21));
  border-color: var(--secondary-colors, var(--secondary-colors, #241f21));
}

.section-heading {
  font-size: clamp(1.5rem, 3.5vw + 1rem, 4rem);
  font-weight: 600;
  color: var(--secondary-colors, var(--secondary-colors, #241f21));
  margin-bottom: 48px;
}
@media (max-width: 768.98px) {
  .section-heading {
    display: flex;
    justify-content: center;
  }
}

.section-description {
  color: var(--secondary-colors, var(--secondary-colors, #241f21));
  font-size: 1rem;
  line-height: 1.6;
}

.learn-more-button {
  border: 2px solid var(--secondary-colors, var(--secondary-colors, #241f21));
  padding: 0.5rem 1.25rem;
  font-weight: 700;
  border-radius: 0px;
  font-size: 1rem;
  transition: background 0.3s;
  text-decoration: none;
  color: var(--secondary-colors, var(--secondary-colors, #241f21));
}
@media (max-width: 768.98px) {
  .learn-more-button {
    display: inline-block;
    justify-self: center;
    text-align: center;
    width: 100%;
  }
}
.learn-more-button:hover {
  background-color: var(--secondary-colors, var(--secondary-colors, #241f21));
  color: #fff;
}

.hero-section {
  background-color: var(--territory-colors, #07de99); /* Similar to image background */
  color: #000;
}
.hero-section .highlight {
  background-color: #fff;
  color: var(--territory-colors, #07de99);
  padding: 0 8px;
  display: inline-block;
}
.hero-section .hero-sectin-main-heading {
  font-size: clamp(2rem, 3vw + 1rem, 4.3rem);
}
.hero-section .hero-section-para {
  font-size: 16px;
}
.hero-section .main-img {
  max-width: 100%;
  border-radius: 0;
  z-index: 1;
  position: relative;
}
.hero-section .image-wrapper {
  display: inline-block;
  position: relative;
}
.hero-section .image-wrapper .shapes .shape1,
.hero-section .image-wrapper .shapes .shape2 {
  position: absolute;
  background: white;
  width: 60px;
  height: 15px;
  transform: rotate(45deg);
}
.hero-section .image-wrapper .shapes .shape1 {
  top: 8%;
  right: 10px;
  transform: rotate(-60deg);
}
.hero-section .image-wrapper .shapes .shape2 {
  top: 25%;
  right: -10px;
  transform: rotate(-20deg);
}
.hero-section .get-started-btn {
  border: 2px solid var(--secondary-colors, var(--secondary-colors, #241f21));
  border-radius: 0px;
  font-weight: 700;
  color: white;
  background-color: var(--secondary-colors, var(--secondary-colors, #241f21));
}
.hero-section .try-for-free-btn {
  border: 2px solid var(--secondary-colors, var(--secondary-colors, #241f21));
  border-radius: 0px;
  font-weight: 700;
  color: var(--secondary-colors, var(--secondary-colors, #241f21));
  background-color: var(--territory-colors, #07de99);
}

.floating-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  width: 50px;
  height: 50px;
  background-color: var(--territory-colors, #07de99);
  color: var(--secondary-colors, var(--secondary-colors, #241f21)); /* Replace $yellowcolor with actual color */
  border: 2px solid var(--secondary-colors, var(--secondary-colors, #241f21));
  border-radius: 50%;
  transition: all 0.3s ease;
  opacity: 0; /* Start hidden for GSAP animation */
  transform: translateY(50px); /* Initial offset for slide-in */
  display: flex;
  justify-content: center;
  align-items: center;
}
.floating-btn:hover {
  background-color: rgb(73, 73, 73);
  color: var(--territory-colors, #07de99);
  border-color: rgb(73, 73, 73);
}
.floating-btn .bi-arrow-up {
  font-size: 25px;
}

.open-your-mind-section {
  background: url("../assets/images/podcast-saas-tool-section-2.webp") no-repeat center center/cover;
  min-height: 90vh;
  color: #fff;
  position: relative;
}
.open-your-mind-section .hero-heading {
  font-size: clamp(32px, 4.14vw, 70px);
  font-weight: 700;
  line-height: 1.2;
}
.open-your-mind-section .hero-heading em {
  font-style: italic;
  font-weight: 400;
}

.analytics-help {
  background-color: var(--primary-colors, #07de99);
}
.analytics-help .section-title,
.analytics-help .section-subtitle {
  font-weight: 600;
  color: var(--secondary-colors, var(--secondary-colors, #241f21));
}
.analytics-help .section-title {
  color: var(--secondary-colors, var(--secondary-colors, #241f21));
  font-size: 1.75rem;
  margin-bottom: 1rem;
}
.analytics-help .section-subtitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.analytics-help .section-description {
  color: var(--secondary-colors, var(--secondary-colors, #241f21));
  font-size: 1rem;
  line-height: 1.6;
}
.analytics-help .triangle-image {
  position: relative;
  width: 100%;
}
@media (min-width: 1199.98px) {
  .analytics-help .triangle-image {
    width: 1100px;
  }
}
.analytics-help .triangle-image img {
  width: 100%;
  height: auto;
}
@media (max-width: 767.98px) {
  .analytics-help .section-title,
  .analytics-help .section-subtitle {
    font-size: 1.4rem;
  }
  .analytics-help .section-description {
    font-size: 0.95rem;
  }
  .analytics-help .triangle-image img {
    -webkit-clip-path: none;
            clip-path: none;
  }
}

.tools-section {
  background: #fff;
}
.tools-section .section-heading {
  display: flex;
  justify-content: start;
}
@media (max-width: 768.98px) {
  .tools-section .section-heading {
    justify-content: center;
  }
}
.tools-section .tool-card {
  padding: 1rem 0rem;
  padding-right: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: start;
}
@media (max-width: 768.98px) {
  .tools-section .tool-card {
    text-align: center;
  }
}
.tools-section .icon-wrapper {
  width: 60px;
  height: 60px;
  margin-right: auto;
  background-color: var(--territory-colors, #07de99);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768.98px) {
  .tools-section .icon-wrapper {
    margin-left: auto;
  }
}
.tools-section .icon-wrapper i {
  font-size: 28px;
}
.tools-section .tool-title {
  font-size: 24px;
  font-weight: 600;
  color: var(--secondary-colors, var(--secondary-colors, #241f21));
}
.tools-section .tool-description {
  font-size: 1rem;
  color: var(--secondary-colors, var(--secondary-colors, #241f21));
  margin-top: 0.5rem;
}
@media (max-width: 767.98px) {
  .tools-section .section-heading {
    font-size: 2rem;
  }
  .tools-section .tool-title {
    font-size: 1.1rem;
  }
  .tools-section .tool-description {
    font-size: 0.95rem;
  }
}

.podcast-stats-section {
  background-color: var(--territory-colors, #07de99);
}
.podcast-stats-section .image-wrapper .custom-shape {
  max-width: 90%;
}
@media (max-width: 767.98px) {
  .podcast-stats-section .section-heading {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .podcast-stats-section .section-description {
    font-size: 0.95rem;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .podcast-stats-section .image-wrapper .custom-shape {
    max-width: 80%;
  }
}

.testimonials-section {
  background-color: var(--primary-colors, #07de99);
}
.testimonials-section .section-heading {
  display: flex;
  justify-content: start;
}
@media (max-width: 991.98px) {
  .testimonials-section .section-heading {
    justify-content: center;
  }
  .testimonials-section .section-heading br {
    display: none;
  }
}
.testimonials-section .custom-shape {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.testimonials-section .testimonial-text {
  font-size: clamp(18px, 1.5vw, 24px);
  color: var(--secondary-colors, #241f21);
  line-height: 1.6;
  font-weight: 400;
  text-align: justify;
}
.testimonials-section .testimonial-author {
  font-size: 1.05rem;
  color: var(--secondary-colors, #241f21);
}
@media (max-width: 991.98px) {
  .testimonials-section .testimonial-author {
    text-align: center;
  }
}
.testimonials-section .testimonial-role {
  font-size: 0.9rem;
  color: #555;
}
@media (max-width: 991.98px) {
  .testimonials-section .testimonial-role {
    text-align: center;
  }
}
@media (max-width: 767.98px) {
  .testimonials-section .section-title {
    font-size: 2rem;
    text-align: center;
  }
  .testimonials-section .testimonial-text {
    font-size: 0.95rem;
  }
}

.articles-section {
  background-color: white;
  overflow-x: hidden;
}
.articles-section .read-more-button {
  border: 2px solid var(--secondary-colors, #241f21);
  padding: 0.5rem 1.25rem;
  font-weight: 700;
  border-radius: 0px;
  font-size: 1rem;
  transition: background 0.3s;
  text-decoration: none;
  color: var(--secondary-colors, #241f21);
  display: inline-block;
}
.articles-section .read-more-button:hover {
  background-color: var(--secondary-colors, #241f21);
  color: #fff;
}
.articles-section .article-img-wrapper {
  position: relative;
}
.articles-section .article-img-wrapper img {
  width: 100%;
  height: auto;
  max-height: 360px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0;
}
.articles-section .article-img-wrapper .date-badge {
  position: absolute;
  bottom: 0%;
  left: 0%;
  background-color: var(--territory-colors, #07de99);
  color: var(--secondary-colors, #241f21);
  font-weight: 600;
  padding: 1rem;
  font-size: 0.9rem;
}
.articles-section .article-card .article-title {
  font-size: clamp(20px, 2vw, 32px);
  font-weight: 600;
  color: var(--secondary-colors, #241f21);
}
.articles-section .article-card .article-desc {
  font-size: 0.95rem;
  color: var(--secondary-colors, #241f21);
}
@media (max-width: 767.98px) {
  .articles-section .section-title {
    font-size: 2rem;
    text-align: center;
  }
  .articles-section .article-title {
    font-size: 1.1rem;
  }
}

.promo-section {
  background-color: var(--secondary-colors, #241f21);
  color: #fff;
}
.promo-section .section-heading {
  color: white;
}
.promo-section .section-description {
  color: white;
}
.promo-section .learn-more-button {
  border-color: var(--territory-colors, #07de99);
  background-color: var(--territory-colors, #07de99);
  color: var(--secondary-colors, #241f21);
  transition: background 0.4s;
}
.promo-section .learn-more-button:hover {
  background-color: var(--secondary-colors, #241f21);
  color: var(--territory-colors, #07de99);
  border-color: var(--territory-colors, #07de99);
}
.promo-section .promo-image-wrapper {
  position: relative;
  display: inline-block;
}
.promo-section .promo-image-wrapper .promo-image {
  width: 100%;
  -webkit-clip-path: inherit;
          clip-path: inherit;
  display: block;
}
.promo-section .promo-image-wrapper .burst-decor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.promo-section .promo-image-wrapper .burst-decor span {
  width: 12px;
  height: 60px;
  background-color: #00d084;
  margin: 4px;
  transform: rotate(calc(45deg * var(--i)));
}
.promo-section .promo-image-wrapper .burst-decor span:nth-child(1) {
  --i: 0;
  transform: rotate(0deg) translateY(-150px);
}
.promo-section .promo-image-wrapper .burst-decor span:nth-child(2) {
  --i: 1;
  transform: rotate(45deg) translateY(-150px);
}
.promo-section .promo-image-wrapper .burst-decor span:nth-child(3) {
  --i: 2;
  transform: rotate(90deg) translateY(-150px);
}
.promo-section .promo-image-wrapper .burst-decor span:nth-child(4) {
  --i: 3;
  transform: rotate(135deg) translateY(-150px);
}
.promo-section .promo-image-wrapper .burst-decor span:nth-child(5) {
  --i: 4;
  transform: rotate(180deg) translateY(-150px);
}
.promo-section .promo-image-wrapper .burst-decor span:nth-child(6) {
  --i: 5;
  transform: rotate(225deg) translateY(-150px);
}
.promo-section .promo-image-wrapper .burst-decor span:nth-child(7) {
  --i: 6;
  transform: rotate(270deg) translateY(-150px);
}
.promo-section .promo-image-wrapper .burst-decor span:nth-child(8) {
  --i: 7;
  transform: rotate(315deg) translateY(-150px);
}

.footer-section {
  background-color: var(--primary-colors, #07de99);
  position: relative;
}
.footer-section .footer-menu-divs {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.footer-section .footer-menu-divs li {
  list-style: none;
  margin: 10px 0px;
}
.footer-section .footer-menu-divs li a {
  font-weight: 600;
  text-decoration: none;
  color: var(--secondary-colors, #241f21);
  font-size: 0.95rem;
}
.footer-section .footer-menu-divs li a:hover {
  text-decoration: underline;
}
.footer-section .footer-text {
  font-size: 20px;
  font-weight: 600;
}
@media (max-width: 768.98px) {
  .footer-section .footer-text {
    text-align: center;
  }
  .footer-section .footer-text br {
    display: none;
  }
}
@media (max-width: 768.98px) {
  .footer-section .footer-icons {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
.footer-section .footer-icons a {
  width: 36px;
  height: 36px;
  border: none;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: var(--territory-colors, #07de99);
}
.footer-section .footer-icons a img {
  position: relative;
}
.footer-section .footer-icons a i {
  font-weight: 300;
  font-size: 16px;
  position: absolute;
  color: var(--secondary-colors, #241f21);
}
.footer-section .footer-icons a i:hover {
  transform: scale(1.09);
}
.footer-section .burst-ray {
  position: absolute;
  width: 40px;
  height: 100px;
  background-color: white;
  -webkit-clip-path: polygon(50% 0, 60% 100%, 0% 90%, 0% 0%);
          clip-path: polygon(50% 0, 60% 100%, 0% 90%, 0% 0%);
  opacity: 0.5;
}
@media (max-width: 419.98px) {
  .footer-section .burst-ray {
    width: 10px;
    height: 40px;
  }
}
.footer-section .burst-1 {
  top: 20%;
  left: 8%;
  transform: rotate(-45deg);
}
.footer-section .burst-2 {
  bottom: 20%;
  left: 8%;
  transform: rotate(30deg);
}
.footer-section .burst-3 {
  top: 25%;
  right: 8%;
  transform: rotate(-45deg);
}
.footer-section .burst-4 {
  bottom: 25%;
  right: 8%;
  transform: rotate(-60deg);
}
.footer-section .burst-5 {
  bottom: 30%;
  left: 50%;
  transform: rotate(60deg);
}

@media (max-width: 767.98px) {
  section {
    scroll-margin-top: 280px;
  }
}
.footer-social-icons-a {
  border: 1px solid #241f21 !important;
  border-radius: 50%;
}/*# sourceMappingURL=style.css.map */