body {
  color: var(--secondary-colors, rgb(73, 73, 73));
  font-size: 16px;
}

.footer-and-navbar-heading {
  color: var(--secondary-colors, rgb(73, 73, 73));
}

.navbar-logo-image {
  width: 32px;
  height: 32px;
  padding: 4px;
}

.hamburger {
  z-index: 1051;
}

/* Reduce the outer container size */
.hamburger {
  width: 24px; /* default is 40px, reduce as needed */
  height: 24px; /* adjust height as per look */
  display: flex;
  padding: 0;
}

/* Reduce the box that contains the lines */
.hamburger-box {
  width: 24px;
  height: 24px;
}

/* Reduce the inner lines */
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 24px;
  height: 3px; /* thinner lines */
  background-color: var(--territory-colors, #212529);
  color: var(--territory-colors);
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner:after,
.hamburger.is-active .hamburger-inner:before {
  background-color: var(--territory-colors, #212529);
}

.navbar-contactus-btn {
  border: 1px solid var(--primary-colors, #a7c856);
  border-radius: 0;
  background-color: var(--primary-colors, #a7c856);
  color: var(--secondary-colors, white);
}

.navbar-menu {
  padding: 8px;
  list-style: none;
  display: flex;
  justify-content: center;
}
.navbar-menu .nav-link {
  position: relative;
  color: var(--secondary-colors, #222);
  text-decoration: none;
  transition: color 0.3s ease;
  padding-bottom: 4px;
}
.navbar-menu .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: var(--primary-colors, #a7c856);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}
.navbar-menu .nav-link:hover,
.navbar-menu .nav-link.active {
  color: var(--primary-colors, #a7c856);
}
.navbar-menu .nav-link:hover::after,
.navbar-menu .nav-link.active::after {
  transform: scaleX(1);
  transform-origin: left;
}

.navbar-contactus-btn:hover {
  background-color: var(--secondary-colors, white);
  color: var(--primary-colors, #a7c856);
  border-color: var(--primary-colors, #a7c856);
}
.navbar-contactus-btn.active {
  background-color: var(--primary-colors, #a7c856);
  color: var(--secondary-colors, white);
}

/* Highlight "Language" with underline wave */
.section1 {
  background-color: var(--territory-colors, #f7f8f9);
}

.left-content p {
  font-size: clamp(17px, 1vw, 26px);
  font-weight: 400;
  color: var(--secondary-colors, rgb(73, 73, 73));
}

.hero-section-main-heading {
  font-size: 5em;
  color: var(--secondary-colors, rgb(73, 73, 73));
}

@media (max-width: 1200px) {
  .hero-section-main-heading {
    font-size: 4rem;
  }
}
@media (max-width: 992px) {
  .hero-section-main-heading {
    font-size: 3rem;
  }
}
@media (max-width: 500px) {
  .hero-section-main-heading {
    font-size: 2.5rem;
  }
}
.highlight-word {
  position: relative;
  display: inline-block;
  border: none;
}

.highlight-word::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.1em;
  width: 100%;
  height: 6px;
  background-color: var(--primary-colors, #a7c856);
  border-radius: 10px;
  z-index: -1;
}

.section1-get-started-btn {
  color: var(--secondary-colors, white);
  background-color: var(--primary-colors, #a7c856);
  padding-left: 42px;
  padding-right: 42px;
  font-size: 1.125rem;
}

.section1-watch-intro-btn {
  background-color: transparent;
  color: var(--secondary-colors, rgb(73, 73, 73));
  font-size: 1.125rem;
  font-weight: 600;
}
.section1-watch-intro-btn span {
  color: var(--primary-colors, #a7c856);
}
.section1-watch-intro-btn:hover {
  border: 1px solid var(--primary-colors, #a7c856);
}

@media (max-width: 397px) {
  .section1-get-started-btn,
  .section1-watch-intro-btn {
    padding-left: 18px;
    padding-right: 18px;
    font-size: 0.8rem;
  }
}
.section1-image {
  z-index: 2;
  position: relative;
  max-width: 440px;
  max-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 429.98px) {
  .section1-image {
    max-width: 250px;
    max-height: 380px;
  }
}

.outer-circle {
  position: absolute;
  width: clamp(320px, 40vw, 500px);
  height: clamp(320px, 40vw, 500px);
  background-color: var(--secondary-colors, #dfeac8);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.outer-circle .inner-circle {
  height: 75%;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-colors, #a7c856);
  border-radius: 50%;
}

@media (max-width: 991.98px) {
  .outer-circle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: clamp(400px, 75vw, 500px);
    height: clamp(400px, 75vw, 500px);
  }
}
@media (max-width: 767.98px) {
  .outer-circle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: clamp(400px, 75vw, 500px);
    height: clamp(400px, 75vw, 500px);
  }
}
@media (max-width: 440px) {
  .outer-circle {
    width: clamp(200px, 75vw, 500px);
    height: clamp(200px, 75vw, 500px);
  }
}
/* Floating Info Cards */
.floating-card {
  position: absolute;
  background: #fff;
  padding: 12px 16px;
  border-radius: 10px;
  font-size: 0.9rem;
  text-align: left;
}
.floating-card p i {
  color: #cbb2d8;
}

/* Top-right */
.card1 {
  top: 5%;
  right: 5%;
  z-index: 3;
}
.card1 p {
  font-size: clamp(8px, 0.8vw, 14px);
  display: flex;
  align-items: start;
}
.card1 p i {
  display: flex;
  align-items: start;
  padding: 5px;
}
@media (max-width: 435.98px) {
  .card1 {
    top: 0%;
    right: 0%;
  }
}

.card4 {
  top: 25%;
  left: 5%;
  z-index: 1;
}
.card4 p {
  font-size: clamp(8px, 0.85vw, 14px);
  display: flex;
  align-items: start;
}
.card4 p i {
  display: flex;
  align-items: start;
  padding: 5px;
}

/* Mid-bottom */
.card2 {
  bottom: 30%;
  right: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.floating-card2-text h5,
.floating-card3-text h5 {
  font-size: clamp(12px, 2vw, 24px);
}
.floating-card2-text small,
.floating-card3-text small {
  font-size: clamp(10px, 1.5vw, 20px);
}

/* Bottom-left */
.card3 {
  bottom: 10%;
  left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 7;
}

.card3 {
  bottom: 10%;
  left: 5%;
}

.floating-card3-image-div,
.floating-card2-image-div {
  padding: clamp(3px, 1vw, 8px);
  border-radius: 50%;
  margin-right: 12px;
}

.floating-card3-image,
.floating-card2-image {
  border-radius: 50%;
  height: 2.5em;
  width: 2.5em;
  padding: 0;
  margin: 0;
}

.card1,
.card2,
.card3,
.card4 {
  padding: auto 25px;
}

/* Play icon styling */
.play-icon {
  font-size: 1.25rem;
  line-height: 1;
}

/* Responsive improvements */
@media (max-width: 767.98px) {
  .floating-card {
    font-size: 0.75rem;
    padding: 8px 12px;
  }
}
@media (max-width: 992px) {
  .floating-card {
    font-size: 0.75em;
  }
}
.section2 {
  margin-top: 100px;
}

.section2-image-section {
  position: relative;
  height: 100%;
}

.about-section-green-background {
  position: absolute;
  top: 37%;
  left: -20%;
  transform: translate(-40%, -40%);
  z-index: 0;
  background-color: var(--territory-colors, #dfeac8);
  border-radius: 50%;
  width: clamp(300px, 45vw, 500px);
  aspect-ratio: 1/1;
  z-index: 0;
}
@media (max-width: 991.98px) {
  .about-section-green-background {
    width: clamp(280px, 35vw, 900px);
  }
}
@media (max-width: 991.98px) and (min-width: 768px) {
  .about-section-green-background {
    top: 39%;
    left: -10%;
    width: 60vh;
  }
}
@media (max-width: 768px) {
  .about-section-green-background {
    top: 39%;
    left: -10%;
    width: clamp(200px, 52vw, 900px);
  }
}

.rounded-custom {
  border-radius: 15px;
  width: auto; /* fixed width */
  height: 100%; /* auto height to maintain aspect ratio */
  -o-object-fit: cover;
     object-fit: cover;
}

.feature-icon {
  background-color: #efe8f3;
  padding: 15px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  height: 50px;
  width: 50px;
  margin: 8px;
}

.bg-light-green {
  background-color: #e6f0d7;
}

.aboutus-para {
  font-size: clamp(15px, 2.5vw, 16px);
  text-align: justify;
  font-weight: 600;
  flex: 1;
}
@media (max-width: 768px) {
  .aboutus-para {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .section-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .learn-more-btn {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

.btn-green, .btn-enroll {
  background-color: var(--primary-colors, #a7c856);
  color: var(--secondary-colors, white);
  font-weight: 500;
  font-size: 1.125rem;
  padding: 0.75rem 2.5rem;
  border-radius: 0.375rem;
  display: inline-block;
  text-align: center;
  transition: background-color 0.3s ease;
}
.btn-green:hover, .btn-enroll:hover {
  background-color: var(--secondary-colors, white);
  color: var(--primary-colors, #a7c856);
  border-color: var(--primary-colors, #a7c856);
}

.feature-row-card {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .feature-row-card {
    justify-content: start;
  }
}
.feature-row-card .feature-icon-text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center; /* Vertically centers text with icon */
  gap: 8px; /* Optional: space between icon and text */
}
.feature-row-card .feature-icon i {
  font-size: 1.5rem; /* optional if not using Bootstrap size classes */
}
.feature-row-card .feature-text {
  font-weight: 600;
  color: var(--secondary-colors, rgb(73, 73, 73));
  margin: 0;
}

.navbar-tabs {
  border-radius: 8px;
  background-color: var(--territory-colors, #f7f8f9);
}
.navbar-tabs .nav-link {
  padding-left: 42px;
  padding-right: 42px;
  color: var(--secondary-colors, rgb(73, 73, 73));
  font-weight: 600;
  border: 1px solid var(--territory-colors, #f7f8f9);
}
.navbar-tabs .nav-link.active {
  background-color: var(--primary-colors, #a7c856);
  color: var(--secondary-colors, white);
  font-weight: bold;
}

.choose-your-language-dropdown {
  display: none;
  background-color: var(--primary-colors, #a7c856);
  color: var(--secondary-colors, white);
  font-weight: 600;
  font-size: 1.125rem;
  padding: 0.75rem 2.5rem;
  border-radius: 0.375rem;
  text-align: center;
  z-index: 100;
  transition: background-color 0.3s ease;
}
.choose-your-language-dropdown.active {
  color: var(--secondary-colors, white);
}
.choose-your-language-dropdown::after {
  color: var(--secondary-colors, white);
}
@media (max-width: 767.98px) {
  .choose-your-language-dropdown {
    display: flex;
    justify-content: center;
  }
}
.choose-your-language-dropdown a {
  border: none;
  font-size: 18px;
}

@media (min-width: 1200px) {
  .english-tab.active {
    border: 1px solid var(--primary-colors, #a7c856);
    border-radius: 8px 0 0 8px;
  }
  .chinese-tab.active {
    border: 1px solid var(--primary-colors, #a7c856);
    border-radius: 0 8px 8px 0;
  }
}
.select-your-language {
  font-size: 2.5rem;
}

@media (min-width: 768px) {
  .card:hover {
    border-color: var(--primary-colors, #a7c856);
    transform: scale(1.001); /* 5% larger */
  }
}
.card-img-top {
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 0;
  color: var(--secondary-colors, rgb(73, 73, 73));
}
@media (max-width: 768px) {
  .card-img-top {
    height: 240px;
  }
}
@media (max-width: 576px) {
  .card-img-top {
    height: 200px;
  }
}

.card-price {
  color: var(--primary-colors, #a7c856);
  font-weight: 600;
  font-size: 1rem;
  color: var(--secondary-colors, rgb(73, 73, 73));
}
@media (max-width: 576px) {
  .card-price {
    font-size: 0.95rem;
  }
}

.card-title {
  font-weight: 600;
  font-size: 1.25rem;
  color: var(--secondary-colors, rgb(73, 73, 73));
}
@media (max-width: 576px) {
  .card-title {
    font-size: 1.1rem;
  }
}

.card-text {
  color: var(--secondary-colors, rgb(73, 73, 73));
  font-size: 1.1rem;
}
@media (max-width: 576px) {
  .card-text {
    font-size: 1rem;
  }
}

.info-small-div {
  font-size: 1.2rem;
  padding: 6px 0;
  font-weight: 600;
  color: var(--secondary-colors, rgb(73, 73, 73));
}
@media (max-width: 576px) {
  .info-small-div {
    font-size: 1rem;
  }
}

.info-icon {
  color: var(--primary-colors, #a7c856);
  margin-right: 5px;
  font-size: 1.8rem;
}
@media (max-width: 576px) {
  .info-icon {
    font-size: 1.4rem;
  }
}

.course-rating {
  font-size: 1.2rem;
  color: var(--secondary-colors, rgb(73, 73, 73));
}
@media (max-width: 576px) {
  .course-rating {
    font-size: 1rem;
  }
}

.star {
  color: gold;
  font-size: 1.2rem;
  margin: 1px;
}
@media (max-width: 576px) {
  .star {
    font-size: 1rem;
  }
}

.btn-enroll {
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
}
.btn-enroll:hover {
  background-color: var(--secondary-colors, white);
  color: var(--primary-colors, #a7c856);
  border-color: var(--primary-colors, #a7c856);
}
@media (max-width: 576px) {
  .btn-enroll {
    font-size: 0.9rem;
    padding: 0.6rem 1.2rem;
  }
}

.section4 {
  background-color: var(--territory-colors, #f7f8f9);
}

.why-section {
  background-color: var(--territory-colors, #f7f8f9);
  position: relative;
  overflow: hidden;
}

.why-image {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.why-left {
  position: relative;
  background-color: #dff0cc;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 20px;
}

.why-icon-box {
  background-color: var(--territory-colors, #dfeac8);
  padding: 20px;
  border-radius: 8px;
  display: flex;
  align-items: flex-start;
  gap: 15px;
  height: 100%;
}

.why-icon-box i {
  font-size: 24px;
  color: var(--primary-colors, #a7c856);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.each-section-heading-text {
  font-size: clamp(1.8rem, 2vw, 2.5rem);
  color: var(--secondary-colors, rgb(73, 73, 73));
}
@media (max-width: 768px) {
  .each-section-heading-text {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

.why-icon-heading-text {
  color: #5c6064;
}

.our-courses-para-of-heading {
  font-size: clamp(15px, 2.5vw, 20px);
  text-align: justify;
  font-weight: 600;
  flex: 1;
}
@media (max-width: 768px) {
  .our-courses-para-of-heading {
    text-align: center;
  }
}

@media (max-width: 767.98px) {
  .section-heading {
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
  }
}
.video-thumbnail {
  height: clamp(500px, 15vw, 550px);
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper {
  width: 100%;
  max-height: 500px;
}

.custom-nav {
  color: var(--primary-colors, rgb(73, 73, 73));
  font-size: 24px;
  padding: 10px;
  width: 50px;
  height: 50px;
  background-color: var(--secondary-colors, white);
  border-radius: 50%;
  z-index: 10;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none; /* Hides Swiper's default arrows */
}

/* Change all bullets to gray */
.swiper-pagination-bullet {
  background-color: var(--secondary-colors, rgb(223, 221, 221));
  opacity: 1; /* Optional: make inactive dots fully visible */
}

/* Change active bullet to blue */
.swiper-pagination-bullet-active {
  background-color: var(--primary-colors, #a7c856);
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--territory-colors, #dfeac8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5%;
  padding-left: 70px;
  padding-right: 70px;
}
.swiper-slide .quote-icon {
  position: absolute;
  top: 15%;
  width: 200px;
  height: 200px;
  z-index: 1;
}
.swiper-slide .quote-icon img {
  width: 100%;
  height: 100%;
}
.swiper-slide .testimonial-para {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(1.5rem, 2vw, 2rem);
  z-index: 2;
  color: var(--secondary-colors, rgb(73, 73, 73));
}
@media (max-width: 576px) {
  .swiper-slide .testimonial-para {
    font-size: 18px;
  }
}
.swiper-slide .testimonial-author {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: clamp(1rem, 2vw, 2rem);
}
.swiper-slide .testimonial-author img {
  display: block;
  width: clamp(30px, 6vw, 60px);
  height: clamp(30px, 6vw, 60px);
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.swiper-slide .testimonial-author .name-and-designation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: clamp(0.5rem, 2vw, 1.5rem);
  color: var(--secondary-colors, rgb(73, 73, 73));
}
@media (max-width: 400px) {
  .swiper-slide .testimonial-author .name-and-designation {
    display: flex;
    justify-content: start;
    align-items: start;
  }
}
.swiper-slide .testimonial-author .name-and-designation .name {
  font-size: clamp(1.2rem, 2vw, 2rem);
  font-weight: 600;
}
@media (max-width: 400px) {
  .swiper-slide .testimonial-author .name-and-designation .name {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    font-size: 12px;
  }
}
.swiper-slide .testimonial-author .name-and-designation .designation {
  font-weight: 500;
  font-size: clamp(0.9rem, 1.5vw, 1.2rem);
  opacity: 0.8;
}
@media (max-width: 400px) {
  .swiper-slide .testimonial-author .name-and-designation .designation {
    display: flex;
    justify-content: start;
    font-size: 10px;
  }
}

.footer-section {
  background-color: var(--territory-colors, #dfeac8);
  color: var(--secondary-colors, rgb(73, 73, 73));
}

.footer-menu-links li:hover {
  text-decoration: underline;
}

.footer-para {
  font-size: 1rem;
  font-weight: 500;
}
@media (max-width: 768px) {
  .footer-para {
    text-align: center;
  }
}

.footer-social-icons a {
  padding: 5px;
}
.footer-social-icons a i {
  font-size: 28px;
  color: var(--secondary-colors, rgb(73, 73, 73));
}
.footer-social-icons a i:hover {
  color: var(--secondary-colors, white);
  transition: color 0.4s ease-out;
}
@media (max-width: 768px) {
  .footer-social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.footer-nav-heading-border {
  display: flex;
  justify-content: start;
  align-items: center;
  color: var(--secondary-colors, rgb(73, 73, 73));
}
@media (max-width: 768px) {
  .footer-nav-heading-border {
    display: flex;
    justify-content: center;
  }
}

.half-border {
  position: relative;
  padding-top: 20px;
}

.half-border::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0%; /* center the 50% width line */
  width: 50%;
  border-top: 2px solid var(--primary-colors, #a7c856);
}
@media (max-width: 768px) {
  .half-border::before {
    display: flex;
    justify-content: center;
    left: 50%;
    transform: translate(-50%);
  }
}

.list-of-nav-link {
  padding: 5px 0;
}
@media (max-width: 768px) {
  .list-of-nav-link {
    display: flex;
    justify-content: center;
  }
}

.footer-nav-link {
  font-size: 1rem;
  font-weight: 500;
}

.footer-send-button {
  background-color: var(--primary-colors, #a7c856);
  color: var(--secondary-colors, white);
  border-radius: 0;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 4px 4px 0;
  margin-top: 5px;
  margin-bottom: 10px;
}
.footer-send-button:hover {
  border: 1px solid var(--primary-colors, #a7c856);
  color: var(--secondary-colors, white);
}

div[form-question-zigrow] input,
div[form-question-zigrow] textarea {
  padding: 15px 25px;
  border-radius: 4px 0 0 4px;
  margin-top: 5px;
  margin-bottom: 10px;
  outline: none;
  border-style: none;
}
div[form-question-zigrow] input:focus,
div[form-question-zigrow] textarea:focus {
  outline: none;
  box-shadow: none;
  border-color: transparent; /* optional, if border changes on focus */
}
div[form-question-zigrow] input::-moz-placeholder, div[form-question-zigrow] textarea::-moz-placeholder {
  color: #bababa;
}
div[form-question-zigrow] input::placeholder,
div[form-question-zigrow] textarea::placeholder {
  color: #bababa;
}

.address-of-subscribe {
  font-weight: 500;
  font-size: 16px;
}
@media (max-width: 768px) {
  .address-of-subscribe {
    display: flex;
    justify-content: center;
  }
}

.section-heading {
  letter-spacing: 2px;
  color: var(--primary-colors, #a7c856);
}

@media (min-width: 768px) {
  .each-button-hovering-effect {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    color: #fff;
    font-size: 1rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  .each-button-hovering-effect:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-colors, #a7c856);
    z-index: -2;
  }
  .each-button-hovering-effect:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--primary-colors, #a7c856);
    transition: all 0.3s;
    z-index: -1;
  }
  .each-button-hovering-effect:hover {
    color: #fff;
  }
  .each-button-hovering-effect:hover:before {
    width: 100%;
  }
}
.text-success-style {
  color: var(--primary-colors, #a7c856);
}/*# sourceMappingURL=style.css.map */